.env

# Dependencies
/node_modules

# Frontend
finalproject/node_modules
finalproject/.next

# Backend
shopwavefusionbackend/shopwavefusionbackend/target

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db